@font-face {
    font-family: 'PressStart2P-Regular';
    src: url(PressStart2P-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Nunito-regular';
    src: url(Nunito.ttf) format('truetype');
}
@font-face {
    font-family: 'SourceCode';
    src: url(SourceCode.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(Roboto-Regular.ttf) format('truetype');
}
.default{
    background-color: rgba(0,0,0,255);
}
.roboto {
    font-family: 'Roboto-Regular';
    font-size: 1.25rem !important;
}
 .PressStart2P{
    font-family: 'PressStart2P-Regular'
}
.Nunito{
    font-family: 'Nunito-regular';

}
em { 
    --tw-text-opacity: 1;
    color: rgb(16 185 129 / var(--tw-text-opacity));  
}
p {
    line-height: 2rem;
}
p, ul {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    line-height: 1.75rem;
}
li {
    margin-bottom: 0.5rem;
    display: list-item;
    text-align: -webkit-match-parent;
}
ul li {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    counter-reset: item;
}
ol {
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    counter-reset: item;
  }
ol a {
    --tw-text-opacity: 1;
    color: rgb(16 185 129 / var(--tw-text-opacity));  
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-underline-offset: 1px;
}

ol li:before {
    content: counter(item) ".";
    --tw-text-opacity: 1;
    color: rgb(16 185 129 / var(--tw-text-opacity));    
    counter-increment: item;
    position: absolute;
    text-align: right;
    transform: translate(-100%);
    margin-left: -.4em;
}
ul li:before {
    content: counter(item) ".";
    --tw-text-opacity: 1;
    color: rgb(16 185 129 / var(--tw-text-opacity));    
    counter-increment: item;
    position: absolute;
    text-align: right;
    transform: translate(-100%);
    margin-left: -.4em;
} 

a {
    --tw-text-opacity: 1;
    color: rgb(16 185 129 / var(--tw-text-opacity));    
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
    font-family:'PressStart2P-Regular';
    --tw-text-opacity: 1;
    color: rgb(16 185 129 / var(--tw-text-opacity));    
    margin-top: 10px;
}
h1 {
    text-align: center;
    margin-top: 20px;
    letter-spacing: .025rem;
    font-size: 1.6rem;
}
h2 {
    letter-spacing: .025rem;
    font-size: 1.5rem;
}
h3 {
    letter-spacing: .025rem;
    font-size: 1.2rem;
}
.SourceCode{
    font-family: 'SourceCode';
}
.darkMode{
    color: black !important;
    background-color: white !important;

}
.icon_inverted{
    filter: invert(100%);

}
.backgroundDark{
    background-color: black;
}
.linkedin{
    opacity: 90%;
}